.main-menu ul li {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    text-transform: capitalize;
    padding: 53px 0;
    position: relative;
    margin-left: 30px;
}
.main-menu {
    background-color: white;
}
.nav-link:hover {
    color: #6c63ff;
}
.home-color{
    color: #6c63ff;
}

span {
    font-size: 24px;
    line-height: 2;
    font-weight: 700;
    color: #6c63ff;
    display: block !important;
}


h1 {
    padding-bottom: 20px;
    font-size: 55px;
    font-weight: 700;
    display: block !important;
}

p {
    font-size: 24px;
    line-height: 1.4;
}

.btn {
    padding: 12px 58px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #6c63ff;
    box-shadow: 0px 5px 15px 0px rgb(8 0 140 / 19%);
    color: #fff;
    outline: 0 none;
    text-transform: capitalize;
    transition: .3s;
    background: #6c63ff;
    border-radius: 28px;
    margin-top: 25px;
    cursor: pointer;
}


.info:hover {
    color: #6c63ff;
}


element.style {
    visibility: visible;
    animation-duration: 1.5s;
    animation-delay: 0.8s;
    animation-name: fadeInUp;
}


img {
    max-width: 90%;
    vertical-align: middle;
    border-style: none;
}

.mt-95 {
    margin-top: 95px;
}

.over-hidden {
    overflow: hidden;
}

div {
    display: block;
}

.title {
    font-size: 24px;
    line-height: 2;
    margin-bottom: 0;
}

.title h3 {
    font-family: inherit;
    font-size: 48px;
    line-height: 1.25;
    margin-bottom: .5rem;
    margin-top: 0;
    color: #222222;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.f-700 {
    font-weight: 700;
}

.mt-45 {
    margin-top: 45px;
}

.justify-content-between {
    -webkit-box-pack: justify;
    justify-content: space-between;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start:0px;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
}
.about-text {
    margin-right: 0;
}
.d-md-flex {
    display: flex;
    
}
.mr-25 {
    margin-right: 25px;
}
.about-text li {
    width: 50%;
}
li {
    list-style: none;
    display: list-item;
    transition: all 0.3s ease-out 0s;
    display: flex;

}
.about-text p {
    font-size: 18px;
    line-height: 1.55;
    word-wrap: break-word;
    word-break: break-all;
    font-weight: 400;
    color: #666666;
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.primary-color {
    color: #222222;
}
.mt-55 {
    margin-top: 55px;
}
.pr-30 {
    padding-right: 30px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-6 {
    margin-bottom: 6px;
}
.text-center {
    text-align: center;
}

.d-inline-block {
    display: inline-block;
}
.service-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    font-size: 21px;
    margin-bottom: 20px;
}
.service-card:hover span {
    transform: translateX(50px);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;}

.theme-bg {
    background: #6c63ff;
}
.text-white {
    color: #fff;
}
.d-block {
    display: block;
}
.fal {
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    color: white;
}
.mb-15 {
    margin-bottom: 15px;
}
h6 {
    font-size: 21px;
    color: #222222;
    font-family: inherit;
    line-height: 1.2;
    margin-top: 0;
}
.ps {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #666666;
    margin-top: 0;
    margin-bottom: 1rem;
}
.pt-190 {
    padding-top: 190px;
}
.mb-135 {
    margin-bottom: 135px;
}
.mt-3 {
    margin-top: 1rem;
}
.mb-4 {
    margin-bottom: 1.5rem;
}
.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.full-section {
    background-color: rgb(243, 249, 251);
}
.my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.color {
    vertical-align: middle;
    width: 32;
    height: 32;
    fill: rgb(108, 99, 255);
}
.text-title {
    font-weight: 700;
}
.text-subtitle {
    font-weight: 700;
}
.text-p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1rem;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-secondary-rgb),var(--bs-text-opacity));
}
.col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}
.pt-110{
    padding-top: 110px;
}
.pb-260{
    padding-bottom: 260px;
}
.justify-content-center {
    justify-content: center !important;
}
.mb {
    margin-bottom: 70px;
}
.mb-20 {
    margin-bottom: 20px;
}
.sub-heading {
    line-height: 1.25;
    margin-bottom: 0px;
    margin-top: 0px;
}
.title1 h3 {
    font-size: 48px;
    line-height: 1.25;
}

